<% if page.current? %>
  <li>
    <span class="inline-flex relative items-center px-4 py-2 text-sm font-semibold text-white bg-indigo-600 rounded-md ring-1 ring-inset dark:bg-indigo-400 ring-stone-300 dark:ring-stone-600 focus:outline-offset-0">
      <%= page %>
    </span>
  </li>
<% else %>
  <li>
    <%= link_to page, url, class: "relative inline-flex items-center px-4 py-2 text-sm font-semibold text-stone-900 dark:text-stone-300 ring-1 ring-inset ring-stone-300 dark:ring-stone-600 hover:bg-stone-50 dark:hover:bg-stone-700 focus:z-20 focus:outline-offset-0 rounded-md" %>
  </li>
<% end %>
